
#presentacion {
    min-height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("assets/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#proyecto-1 {
    background-image: url('assets/googleclon.png');

}
#proyecto-2 {
    background-image: url('assets/Preyecto\ fermentos.png');
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem #370dfd;
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.btn-primary {
    --bs-btn-color: #080808;
    --bs-btn-bg: #d012e9;}